{% extends "sensors/base.html" %}

{% block title %}Sensor {{ sensor.name }}{% endblock %}

{% block banner_div %}
<h1>Sensor {{ sensor.name }}</h1>
<p>{{ sensor.description }}.</p>
{% endblock %}




{% block main_body %}
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">

    <p>Sensor ID : {{ sensor.id }}</p>
    <p>probe driver for this sensor : {{ sensor.probe_driver }}</p>
    <p>Sensor value on {{ last.ts }} :  <em>{{ last.value }} {{ probe.unit_symbol }}</em></p>
    <p>There are {{ measures_count }} measures for this sensor</p>

    <a href="{% url 'sensors:sensors_index' %}">return to sensors index</a>



  </div>
</section>

{% endblock %}
